## 4칙 연산

In [1]:
apple = 10
lemon, banana = 20, 50
fruit = apple + lemon + banana
print(fruit)

80

In [2]:
a = 10
b = 100

add = a + b
print('add:', add)

add: 110

In [3]:
sub = a - b
print('sub:', sub)

sub: -90

In [4]:
mul = a * b
print('mul:', mul)

mul: 1000

In [5]:
div = a / b
print('div:', div)

div: 0.1

In [6]:
expon = a ** b
print('dxpon:', expon)

dxpon: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [7]:
remainder = a % b
print('remainder:', remainder)

remainder: 10

In [8]:
city = 'Seoul'
city2 = 'Suncheon'
print(city, city2)

Seoul Suncheon

In [9]:
addnum = (1 + 2 + 3
+ 4 + 5)
print(addnum)

15

In [10]:
addnum = 1 + 2 + 3
+ 4 + 5
print(addnum)

6

In [11]:
addnum = 1 + 2 + 3\
+ 4 + 5
print(addnum)

15

## input 함수

In [12]:
print('이름을 입력하세요:')
name = input()
print('my name is ', name)

이름을 입력하세요:

my name is

## 내장 모듈 math 사용하기

In [13]:
import math

print(math.pi)
print(math.sqrt(math.pi))

r = 10
print(2*math.pi*r)

3.141592653589793
1.7724538509055159
62.83185307179586

## print문

In [14]:
name = 'serendipi27'
age = '19'
sex = 'male'

print(name, age, sex, sep=',')
print(name, age, sex, sep='\n')

serendipi27,19,male
serendipi27
19
male

## types

In [15]:
# check the type of variables
num = 23
print(type(num))
float1 = 25.1
print(type(float1))

<class 'int'>
<class 'float'>

In [16]:
# change type of varibles
import math
p = math.pi
print(type(p))
p = 17
print(type(p))

<class 'float'>
<class 'int'>

In [17]:
t = True
print(t)
print(type(t))
f = False
print(f)
print(type(f))

True
<class 'bool'>
False
<class 'bool'>

## if문

In [18]:
found = True

if found:
    print('찾았습니다')
    print('안녕')
else:
    print('안녕')

찾았습니다
안녕

In [19]:
found = False

if found:
    print('찾았습니다')
    print('안녕')
else:
    print('안녕')

안녕

In [20]:
# True, False 
a = 0
b = 1
c = 1.

print(10 > a)
print(10 < a)
print(bool(a))
print(bool(b))

print('hello' == 'hello')
print('hello' == 'hello ')

True
False
False
True
True
False

In [21]:
# string
my_text = 'I am big data. '
print(my_text)
print(type(my_text))

print(my_text * 3)

I am big data.
<class 'str'>
I am big data. I am big data. I am big data.

In [22]:
# carriage return
print('my job', '\n')
print('is', '\n\n')
print('where?', '\n')
print('Nope')

my job

is


where?

Nope

In [23]:
#multitext
multitext = """
one two three
five six seven
eight nine ten
"""
multitext

'\none two three\nfive six seven\neight nine ten\n'

## 문자열 인덱싱 & 슬라이싱

In [24]:
# -1의 활용
text = 'it is my class'
print(text[-1])

s

In [25]:
# string indexing

string = "I have a lunch"
print(string[:])
print(string[2:])
print(string[5:-2])
print(string[1:])

I have a lunch
have a lunch
e a lun
 have a lunch

In [26]:
#immortal string
string = 'I am immortal'
string[2] = ''

TypeError: 'str' object does not support item assignment

## 문자열의 method

In [27]:
mytext = 'Hello, my little dog'
print(mytext.upper())
print(mytext.title())

HELLO, MY LITTLE DOG
Hello, My Little Dog

In [28]:
print(mytext.endswith('g'))

True

In [29]:
print(mytext.endswith('G'))

False

In [30]:
print(mytext.startswith('H'))

True

In [31]:
print(mytext.startswith(('h', 'H')))

True

## 리스트

In [32]:
# list
l1 = [1,2,3,4,5]
print(l1)
l2 = ['one', 'two', 'three']
print(l2)
l3 = [1, 2, 'three', 'four', {5:'five'}]
print(l3)
print(list(l3[-1].keys()))

[1, 2, 3, 4, 5]
['one', 'two', 'three']
[1, 2, 'three', 'four', {5: 'five'}]
[5]

In [33]:
# list changible
ll = ['cheese', 'hotdog', 'pizza', 'fried potato']
print(ll)
ll[-1] = 'fried chicken'
print(ll)

['cheese', 'hotdog', 'pizza', 'fried potato']
['cheese', 'hotdog', 'pizza', 'fried chicken']

In [34]:
ll2 = ll + ['tomato juice']
print(ll2)

['cheese', 'hotdog', 'pizza', 'fried chicken', 'tomato juice']

In [35]:
# list slicing
print(ll2[0:3])
print(ll2[:])
print(ll2[-3:])

['cheese', 'hotdog', 'pizza']
['cheese', 'hotdog', 'pizza', 'fried chicken', 'tomato juice']
['pizza', 'fried chicken', 'tomato juice']

In [36]:
game = ['fifa', 'winning', 'tetris', 'ninja']
print(game.index('fifa'))
game.append('lol')
print(game)
game.extend(['prince of persia', 'showdown'])
print(game)

0
['fifa', 'winning', 'tetris', 'ninja', 'lol']
['fifa', 'winning', 'tetris', 'ninja', 'lol', 'prince of persia', 'showdown']

In [37]:
print(game)
game.sort()
print(game)

['fifa', 'winning', 'tetris', 'ninja', 'lol', 'prince of persia', 'showdown']
['fifa', 'lol', 'ninja', 'prince of persia', 'showdown', 'tetris', 'winning']

In [38]:
print(game)
game.reverse()
print(game)

['fifa', 'lol', 'ninja', 'prince of persia', 'showdown', 'tetris', 'winning']
['winning', 'tetris', 'showdown', 'prince of persia', 'ninja', 'lol', 'fifa']

In [39]:
print(game)
print(game.pop())
print(game)

['winning', 'tetris', 'showdown', 'prince of persia', 'ninja', 'lol', 'fifa']
fifa
['winning', 'tetris', 'showdown', 'prince of persia', 'ninja', 'lol']

In [40]:
print(game)
print(game.remove('ninja'))
print(game)

['winning', 'tetris', 'showdown', 'prince of persia', 'ninja', 'lol']
None
['winning', 'tetris', 'showdown', 'prince of persia', 'lol']

In [41]:
print(game)
print(game.count('tetris'))

['winning', 'tetris', 'showdown', 'prince of persia', 'lol']
1

## 파이썬 내장함수

In [42]:
import math

nums = [1, 10, 25, 16.5, 100, math.pi]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(nums.sort())
print(nums)

6
100
1
155.64159265358978
None
[1, 3.141592653589793, 10, 16.5, 25, 100]

## 튜플

In [43]:
tup = (1, 2, 'three', {4:'four'})
print(tup)
a, b, c, d = tup
print(a,b,c,d)

(1, 2, 'three', {4: 'four'})
1 2 three {4: 'four'}

In [44]:
# tuple caution
tup = (111)
tup2 = (111, )
tup3 = (111, 222)

print(type(tup))
print(type(tup2))
print(type(tup3))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [45]:
# tuple index, slicing
tup = ('hello', 'who are you?', 12345, (1,2,3,), [10, 20, 'bye'])
print(tup[:3])
print(tup[2:4])
print(tup[3][2])
print(tup[1][-5:])

('hello', 'who are you?', 12345)
(12345, (1, 2, 3))
3
 you?

In [46]:
# tuple method
tup1 = (1,2,3)
tup2 = (10, 20, 30)

tup3 = tup1 + tup2
print(tup3)
tup4 = tup1 * 3
print(tup4)

# tup1.index(10)
tup2.index(10)
tup2.count(10)

(1, 2, 3, 10, 20, 30)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

1

In [47]:
print(tup1)
print(len(tup1))
print(min(tup1))
print(max(tup1))
print(sum(tup1))
print(sorted(tup1))

(1, 2, 3)
3
1
3
6
[1, 2, 3]

### 리스트와 튜플의 차이점

In [48]:
# diff list and tuple
ll = [1,5,7,2,4]
tup = tuple(ll)

print(ll)
print(ll.sort())
print(ll)
# tuple에는 sort() method가 없다. 왜냐. 원본 변경불가가 원칙이기 때문에.
# print(tup)
# tup.sort()
# print(tup)
print(tup)
print(sorted(tup))
print(tup)

[1, 5, 7, 2, 4]
None
[1, 2, 4, 5, 7]
(1, 5, 7, 2, 4)
[1, 2, 4, 5, 7]
(1, 5, 7, 2, 4)

## set

In [49]:
# set
a = {1,2,3,4,5,6}
b = {1,2,3,7,8,9}
print(a-b)
print(a&b)
print(a|b)
print(a^b)
print({1,2,3} <= a) #true
print({1,2,7} <= a) #false
print({1,2,7} <= b) #true

{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
True
False
True

## 딕셔너리

In [50]:
# dict
tup = ([1,'soccer'], [2,'baseball'], [3,'ballyball'])
ll = [(1,'soccer'), (2,'baseball'), (3,'ballyball')]
print(dict(tup))
print(dict(ll))
dic = dict(tup)

{1: 'soccer', 2: 'baseball', 3: 'ballyball'}
{1: 'soccer', 2: 'baseball', 3: 'ballyball'}

In [51]:
print(dic.keys())
print(dic.values())
print(dic.items())
print(list(dic.values()))

dict_keys([1, 2, 3])
dict_values(['soccer', 'baseball', 'ballyball'])
dict_items([(1, 'soccer'), (2, 'baseball'), (3, 'ballyball')])
['soccer', 'baseball', 'ballyball']

## 형변환 내장함수

In [52]:
# changing type
num = 7
print(num, type(num))
print(str(num), type(str(num)))
print(float(num), type(float(num)))

7 <class 'int'>
7 <class 'str'>
7.0 <class 'float'>

## string-formatting

In [53]:
# %-string
string = 'I am very very much hungry!!'
num1 = 10
float1 = 100.

print('I am very %s much hungry!!' %('very'))
print('I want hamberger %d' %(10))
print('I will be going to %s to have hamberger %5d' %('Mcdonald', 10))

I am very very much hungry!!
I want hamberger 10
I will be going to Mcdonald to have hamberger    10

In [54]:
weight = input('input your weight(kg)')
height = input('input your height(m)')

print('your bmi score is %d/(%f*%f) = %.2f' %(int(weight), float(height), float(height), int(weight)/(float(height)*float(height))))

input your weight(kg)
input your height(m)

ValueError: invalid literal for int() with base 10: ''

In [55]:
num = 3
print("I like {:10d} little boys.".format(num))

I like          3 little boys.

In [56]:
num = 2.5343434
print("I have {:5.2f} pies".format(num))

I have  2.53 pies

In [57]:
print("I don't like {lfood}, but I like {dfood}".format(lfood='curry', dfood='noodle'))

I don't like curry, but I like noodle

In [58]:
print("I don't like {}, but I like {}".format('curry', 'noodle'))

I don't like curry, but I like noodle

In [59]:
my_string = "나는 파이썬 프로그래머이다."
print("my answer is 3")
print(my_string.index('파'))

my answer is 3
3

## for문 맛보기

In [60]:
bird = ['참새', '제비', '독수리']
insect = ['개미', '풍뎅이', '메뚜기']
animals = [bird, insect]

for group in animals:
    print("이번 그룹의 동물들은 ['{}', '{}', '{}']입니다".format(group[0], group[1], group[2]))
    print("이 그룹에 속한 각각의 동물은...")
    for name in group:
        print('%s' %name)
    print('입니다.', '\n')

이번 그룹의 동물들은 ['참새', '제비', '독수리']입니다
이 그룹에 속한 각각의 동물은...
참새
제비
독수리
입니다.

이번 그룹의 동물들은 ['개미', '풍뎅이', '메뚜기']입니다
이 그룹에 속한 각각의 동물은...
개미
풍뎅이
메뚜기
입니다.

In [61]:
bird = ['참새', '제비', '독수리']
insect = ['개미', '풍뎅이', '메뚜기']
animals = [bird, insect]

for group in animals:
    print("이번 그룹의 동물들은 ['{}', '{}', '{}']입니다".format(group[0], group[1], group[2]))
    print("이 그룹에 속한 각각의 동물은...")
    print('%s' %group[0])
    print('%s' %group[1])
    print('%s' %group[2])
    print('입니다.', '\n')

이번 그룹의 동물들은 ['참새', '제비', '독수리']입니다
이 그룹에 속한 각각의 동물은...
참새
제비
독수리
입니다.

이번 그룹의 동물들은 ['개미', '풍뎅이', '메뚜기']입니다
이 그룹에 속한 각각의 동물은...
개미
풍뎅이
메뚜기
입니다.

## if문 맛보기

In [62]:
# if statement
age = int(input("input your age: "))
if age<20:
    print('You are not adult')
else:
    print('You are adult')

input your age:

ValueError: invalid literal for int() with base 10: ''

## 중복 for문

In [63]:
제일농장 = [100, 50, 80]
우리농장 = [50, 10, 20]
한국농장 = [200, 100, 150]

farms = ['제일농장', '우리농장', '한국농장']
animals = ['닭', '소', '돼지']

dic = dict([(name, obj) for name, obj in zip(farms, [제일농장, 우리농장, 한국농장])])
# print(dic)

for farm in farms:
    farm_obj = dic[farm]
    print('*'*5 + ' ' + f'{farm}' + ' ' + '*'*5)
    for i, animal in enumerate(animals):
        print(f'{animal}, {farm_obj[i]}마리 입니다.')
    print('\n')

***** 제일농장 *****
닭, 100마리 입니다.
소, 50마리 입니다.
돼지, 80마리 입니다.


***** 우리농장 *****
닭, 50마리 입니다.
소, 10마리 입니다.
돼지, 20마리 입니다.


***** 한국농장 *****
닭, 200마리 입니다.
소, 100마리 입니다.
돼지, 150마리 입니다.

## 리스트 컴프레헨션

In [64]:
even_odd = [num%2 for num in range(1,6)]
print(even_odd)

[1, 0, 1, 0, 1]

In [65]:
even = [num if num%2 == 0 else "no" for num in range(1,6)]
print(even)

['no', 2, 'no', 4, 'no']

In [66]:
even = [num for num in range(1,6) if num%2==0]
even

[2, 4]

## 중복 리스트 컴프레헨션

In [67]:
data1 = [['학교', '집', '놀이터'], ['자장면', '짬뽕', 'food']]

lc = [(place, food) for place in data1 for food in place]
lc

[(['학교', '집', '놀이터'], '학교'),
 (['학교', '집', '놀이터'], '집'),
 (['학교', '집', '놀이터'], '놀이터'),
 (['자장면', '짬뽕', 'food'], '자장면'),
 (['자장면', '짬뽕', 'food'], '짬뽕'),
 (['자장면', '짬뽕', 'food'], 'food')]

In [68]:
name = ['John', 'Keily', 'Michael']
print([na for na in name if len(na) > 4])

['Keily', 'Michael']