## 중복 for문

In [ ]:
제일농장 = [100, 50, 80]
우리농장 = [50, 10, 20]
한국농장 = [200, 100, 150]

farms = ['제일농장', '우리농장', '한국농장']
animals = ['닭', '소', '돼지']

dic = dict([(name, obj) for name, obj in zip(farms, [제일농장, 우리농장, 한국농장])])
# print(dic)

for farm in farms:
    farm_obj = dic[farm]
    print('*'*5 + ' ' + f'{farm}' + ' ' + '*'*5)
    for i, animal in enumerate(animals):
        print(f'{animal}, {farm_obj[i]}마리 입니다.')
    print('\n')

## 리스트 컴프레헨션

In [5]:
even_odd = [num%2 for num in range(1,6)]
print(even_odd)

[1, 0, 1, 0, 1]

In [8]:
even = [num if num%2 == 0 else "no" for num in range(1,6)]
print(even)

['no', 2, 'no', 4, 'no']

In [9]:
even = [num for num in range(1,6) if num%2==0]
even

[2, 4]

## 중복 리스트 컴프레헨션

In [12]:
data1 = [['학교', '집', '놀이터'], ['자장면', '짬뽕', 'food']]

lc = [(place, food) for place in data1 for food in place]
lc

[(['학교', '집', '놀이터'], '학교'),
 (['학교', '집', '놀이터'], '집'),
 (['학교', '집', '놀이터'], '놀이터'),
 (['자장면', '짬뽕', 'food'], '자장면'),
 (['자장면', '짬뽕', 'food'], '짬뽕'),
 (['자장면', '짬뽕', 'food'], 'food')]

In [13]:
name = ['John', 'Keily', 'Michael']
print([na for na in name if len(na) > 4])

['Keily', 'Michael']

## 함수

In [17]:
def func_abs(num):
    if num < 0:
        num = -num
    return num


num = int(input('숫자를 입력하세요: '))
result = func_abs(num)
print(f'{num}을 입력한 결과는 {result}')

숫자를 입력하세요: -3
-3을 입력한 결과는 3

In [18]:
# 매개변수 기본값
def message(msg, to='everyone'):
    print(msg, to)
    
message('hello')
message('hello', 'my love')
message('goodbye', to='my legendary')

hello everyone
hello my love
goodbye my legendary

In [25]:
# 가변길이 위치 파라미터
def friends(*args):
    longname = ''
    for name in args:
        longname += name
    return longname

name_list = ['aa' ,'bb', 'cc', 'dd', 'ee', 'ff']
friend_list = friends(*name_list)
print(friend_list)

aabbccddeeff

## doctring 함수 도움말

In [32]:
# 함수 내 """ """를 이용하여 도움말을 작성할 수 있다.
# help(함수명)으로 docstring을 읽을 수 있다.
# 단, 함수 정의 바로 아래에 위치해야 한다.

def func_doc(name, age):
    """
    이 함수는 name과 age를 입력받아 인구조사에 활용할 목적으로 한다.
    """
    print(f'내 이름은 {name}이고, 나이는 {age}살 입니다.')
    
func_doc('serendipi27', 27)
help(func_doc)

내 이름은 serendipi27이고, 나이는 27살 입니다.
Help on function func_doc in module __main__:

func_doc(name, age)
    이 함수는 name과 age를 입력받아 인구조사에 활용할 목적으로 한다.

## 내장함수

In [37]:
num = input('정수를 입력하세요: ')
print(float(int(num)))

정수를 입력하세요: 12
12.0

In [38]:
name_list = ['이승만', '윤보선', '박정희', '최규하', '전두환', 
            '노태우', '김영삼', '김대중', '노무현', '이명박',
             '박근혜', '문재인', '윤석열']
for i, name in enumerate(name_list):
    print(f'{i+1:2d}대 대통령: {name}')

 1대 대통령: 이승만
 2대 대통령: 윤보선
 3대 대통령: 박정희
 4대 대통령: 최규하
 5대 대통령: 전두환
 6대 대통령: 노태우
 7대 대통령: 김영삼
 8대 대통령: 김대중
 9대 대통령: 노무현
10대 대통령: 이명박
11대 대통령: 박근혜
12대 대통령: 문재인
13대 대통령: 윤석열

In [41]:
name_list = ['이승만', '윤보선', '박정희', '최규하', '전두환', 
            '노태우', '김영삼', '김대중', '노무현', '이명박',
             '박근혜', '문재인', '윤석열']
for i in range(len(name_list)):
    print('{:2d}대 대통령: {}'.format(i+1, name_list[i]))

 1대 대통령: 이승만
 2대 대통령: 윤보선
 3대 대통령: 박정희
 4대 대통령: 최규하
 5대 대통령: 전두환
 6대 대통령: 노태우
 7대 대통령: 김영삼
 8대 대통령: 김대중
 9대 대통령: 노무현
10대 대통령: 이명박
11대 대통령: 박근혜
12대 대통령: 문재인
13대 대통령: 윤석열

## 지역변수와 전역변수

In [44]:
a = 100

def func1():
    a = 10
    print('func1 지역변수 a: ', a)
    
def func2():
    print('func2 전역변수 a: ', a)
    
def func3():
    global a
    a = 100000
    print('func3 a: ', a)
print(func1())
print(func2())
print(func3())
print('a: ', a)

func1 지역변수 a:  10
None
func2 전역변수 a:  100
None
func3 a:  100000
None
a:  100000

## 람다(lambda) 함수

In [49]:
func1 = lambda x, y: x + y
print(func1(2, 3))

# 그래도 함수인 건 알아야 하니까 lambda를 묶어주고 뒤에 (인자1, 인자2)를 넣어준다.
print((lambda x, y: x + y)(2, 3))

5
5

## iterable 함수와 iterable 객체, 그리고 lambda 함수

In [54]:
# map 함수
# 함수 결과를 map 객체 형태로 return 함. 내용물을 볼려면 list로 wrapping해야함.

# 인수가 하나일 때:
l1 = list(map(lambda x: x**2, [1,2,3]))
print(l1)

# 인수가 두개일 때:
l2 = list(map(lambda x, y: x+y, [1,2,3], [10,20,30]))
print(l2)

[1, 4, 9]
[11, 22, 33]

In [58]:
# filter 함수
# 함수 결과가 참인 것만 return함.
# filter 함수는 애초에 인자를 하나밖에 못받는구나!!

filt1 = list(filter(lambda x: x>5, [-10, -5, 0, 10, 100, -30, 20]))
print(filt1)
# filt2 = list(filter(lambda x, y: x*y>0, [-10, 15, 0], [10, 100, 5]))
# print(filt2)

"""
TypeError                                 Traceback (most recent call last)
<ipython-input-56-1d154738e101> in <module>
      4 filt1 = list(filter(lambda x: x>5, [-10, -5, 0, 10, 100, -30, 20]))
      5 print(filt1)
----> 6 filt2 = list(filter(lambda x, y: x*y>0, [-10, 15, 0], [10, 100, 5]))
      7 print(filt2)

TypeError: filter expected 2 arguments, got 3
"""

[10, 100, 20]

'\nTypeError                                 Traceback (most recent call last)\n<ipython-input-56-1d154738e101> in <module>\n      4 filt1 = list(filter(lambda x: x>5, [-10, -5, 0, 10, 100, -30, 20]))\n      5 print(filt1)\n----> 6 filt2 = list(filter(lambda x, y: x*y>0, [-10, 15, 0], [10, 100, 5]))\n      7 print(filt2)\n\nTypeError: filter expected 2 arguments, got 3\n'